<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Food Ordering System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="index.css" />

</head>
<body>
    <div class="topnav">
        <a href="menu">Menu</a>
        <a href="cart">Cart</a>
        <a class="active" href="orders">Orders</a>
    </div>
    <div class="container my-2">
    <h1>Order Detail</h1>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price($)
            </th>
            <th> Num </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderDetail : ${orderDetails}">
            <td th:text="${orderDetail.name}"></td>
            <td th:text="${orderDetail.description}"></td>
            <td th:text="${orderDetail.price}"></td>
            <td th:text="${orderDetail.num}"></td>
        </tr>
        </tbody>
    </table>

    <div style="text-align: right">
        <a th:href = "@{/orders}" class="btn btn-primary btn-sm mb-3"> Go Back </a>
    </div>
</div>
</body>
</html>